*.tr
*.png
*.nam
data

# docs to ignore
src/docs/oneoffs
# pycache
__pycache__
*.py[cod]
*$py.class

#notebooks
src/traffic/validate.ipynb

#setup
src/traffic_sim.egg-info
# ignore and .egg-info files
*.egg-info
*.egg

# any of the "other" files
*other

#vscode settings
.vscode

#env files
.env